@model SistemaEstetica2.Models.Agendamento

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Agendamento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="reservaData" class="control-label"></label>
                <input asp-for="reservaData" class="form-control" />
                <span asp-validation-for="reservaData" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="reservaHorario" class="control-label"></label>
                <input asp-for="reservaHorario" class="form-control" />
                <span asp-validation-for="reservaHorario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="funcionarioID" class="control-label"></label>
                <select asp-for="funcionarioID" class="form-control" asp-items="ViewBag.funcionarioID"></select>
                <span asp-validation-for="funcionarioID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="clienteID" class="control-label"></label>
                <select asp-for="clienteID" class="form-control" asp-items="ViewBag.clienteID"></select>
                <span asp-validation-for="clienteID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="servicoID" class="control-label"></label>
                <select asp-for="servicoID" class="form-control" asp-items="ViewBag.servicoID"></select>
                <span asp-validation-for="servicoID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
