<h1>Filtrar</h1>

<h4>Agendamentos</h4>
<hr/>
<div class="row">
       <div class="col-md-4">
           <form asp-action="agendCliente">
               Buscar por Funcionário: <input type="text" name="busca" value=""/>
            <input type="submit" value="Filtrar" class="btn bg-primary btn-close-black" />
           </form>
       </div>
</div>

<div>
    <a asp-action="Index"><input value="Voltar" class="btn btn-primary bg-warning text-dark border-0 " style="width: 6rem" /></a>
</div>
